<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Détails du Complexe" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="id">Id</label>
            <input type="text" pInputText id="id" [(ngModel)]="selected.id" disabled />
        </div>
        <div class="field">
            <label for="nom">Nom</label>
            <input type="text" pInputText id="nom" [(ngModel)]="selected.nom" disabled />
        </div>



        <div class="formgrid grid">
            <div class="field col">
                <label for="longitude">Longitude</label>
                <p-inputNumber id="longitude" [(ngModel)]="selected.longitude" disabled></p-inputNumber>
            </div>
        </div>

        <div class="field">
            <label for="total">Latitude</label>
            <input type="text" pInputText id="total" [(ngModel)]="selected.latitude" disabled />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
