<div class="gs_reservation">
	<span> La gestion des reservations</span>
</div>
<div class="row text-center">
	<div class="col-md-4">
	  <div class="btn-group">
		<div
		  class="btn btn-primary"
		  mwlCalendarPreviousView
		  [view]="view"
		  [(viewDate)]="viewDate"
		  (viewDateChange)="closeOpenMonthViewDay()"
		>
		  Precedent
		</div>
		<div
		  class="btn btn-outline-secondary"
		  mwlCalendarToday
		  [(viewDate)]="viewDate"
		>
		  Aujourd'hui
		</div>
		<div
		  class="btn btn-primary"
		  mwlCalendarNextView
		  [view]="view"
		  [(viewDate)]="viewDate"
		  (viewDateChange)="closeOpenMonthViewDay()"
		>
		  Suivant
		</div>
	  </div>
	</div>
	<div class="col-md-4">
	  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
	</div>
	<div class="col-md-4">
	  <div class="btn-group">
		<div
		  class="btn btn-primary"
		  (click)="setView(CalendarView.Month)"
		  [class.active]="view === CalendarView.Month"
		>
		  Mois
		</div>
		<div
		  class="btn btn-primary"
		  (click)="setView(CalendarView.Week)"
		  [class.active]="view === CalendarView.Week"
		>
		  Semaine
		</div>
		<div
		  class="btn btn-primary"
		  (click)="setView(CalendarView.Day)"
		  [class.active]="view === CalendarView.Day"
		>
		  Jour
		</div>
	  </div>
	</div>
  </div>
  <br />
  <div [ngSwitch]="view">
	<mwl-calendar-month-view
	  *ngSwitchCase="CalendarView.Month"
	  [viewDate]="viewDate"
	  [events]="events"
	  [refresh]="refresh"
	  [activeDayIsOpen]="activeDayIsOpen"
	  (dayClicked)="dayClicked($event.day)"
	  (eventClicked)="handleEvent('Clicked', $event.event)"
	  (eventTimesChanged)="eventTimesChanged($event)"
	>
	</mwl-calendar-month-view>
	<mwl-calendar-week-view
	  *ngSwitchCase="CalendarView.Week"
	  [viewDate]="viewDate"
	  [events]="events"
	  [refresh]="refresh"
	  (eventTimesChanged)="eventTimesChanged($event)"
	>
	</mwl-calendar-week-view>
	<mwl-calendar-day-view
	  *ngSwitchCase="CalendarView.Day"
	  [viewDate]="viewDate"
	  [events]="events"
	  [refresh]="refresh"
	  (eventTimesChanged)="eventTimesChanged($event)"
	>
	</mwl-calendar-day-view>
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  
  <h3>
	Les reservations 
	<button pButton pRipple type="button" label="Ajouter Nouveau" class="p-button-rounded p-button-help p-mr-2 p-mb-2" (click)="addEvent()" style="margin-left:88%;"></button>

	<div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
	<table class="table table-bordered">
	  <thead>
		<tr>
		  <th>Date Debut</th>
		  <th>Date Fin</th>
		  <th>Action</th>
		</tr>
	  </thead>
  
	  <tbody>
		<tr *ngFor="let event of events">
		  <!-- <td>
			<input
			  type="text"
			  class="form-control"
			  [(ngModel)]="event.title"
			  (keyup)="refresh.next()"
			/>
		  </td> -->
		  
		 
		  <td>
			<input
			  id="disInput"
			  class="form-control"
			  type="text"
			  mwlFlatpickr
			  [(ngModel)]="event.start"
			  (ngModelChange)="refresh.next()"
			  [altInput]="true"
			  [convertModelValue]="true"
			  [enableTime]="true"
			  dateFormat="Y-m-dTH:i"
			  altFormat="F j, Y H:i"
			  placeholder="Not set"
			/>
		  </td>
		  <td>
			<input
			  id="disInput"
			  class="form-control"
			  type="text"
			  mwlFlatpickr
			  [(ngModel)]="event.end"
			  (ngModelChange)="refresh.next()"
			  [altInput]="true"
			  [convertModelValue]="true"
			  [enableTime]="true"
			  dateFormat="Y-m-d TH:i"
			  altFormat="F j, Y H:i"
			  placeholder="Not set"
			/>
		  </td>
		  <td>

			<button pButton pRipple type="button" label="Effacer" class="p-button-danger p-mr-2 p-mb-2" (click)="deleteEvent(event)" style="margin-left: 10px;"></button>

		    <button pButton pRipple type="button" label="Ajouter" class="p-button-success p-mr-2 p-mb-2" (click)="addEventtodb(event)" style="margin-left: 20px;"></button>
		  </td>
		</tr>
	  </tbody>
	</table>
  </div>
  
 
  