<div class="grid layout-dashboard">

    <div class="col-12 md:col-4 lg:col-4">
        <div class="timeline card card-w-title">
           
            <ul>
                <li>
                   
                        <div class="positionimg">
                        </div>
                       
                    
                </li>
                
            </ul>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="expenses card card-w-title">
            
        </div>
    </div>
    
</div>
