<div class="grid">
    <div class="col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Effacer" icon="pi pi-trash" class="p-button-danger mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importer" chooseLabel="Import" class="mr-2 mb-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['reference','total','totalPaye']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-md-row justify-content-md-between table-header">
                        <h5 class="mb-3">Gérer les terrains</h5>



                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="capaciteParEquipe">Capacite par equipe <p-sortIcon field="capaciteParEquipe"></p-sortIcon></th>
                        <th pSortableColumn="nomComp">Nom du complexe <p-sortIcon field="nomComp"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-terrain>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="terrain"></p-tableCheckbox>
                        </td>
                        <td>{{terrain.id}}</td>
                        <td>{{terrain.nom}}</td>
                        <td>{{terrain.capaciteParEquipe}}</td>
                        <td>{{terrain.complexe.nom}}</td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(terrain)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(terrain)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(terrain)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Au total il y a {{items ? items.length : 0 }} éléments.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-terrain-create></app-terrain-create>
        <app-terrain-edit></app-terrain-edit>
        <app-terrain-view></app-terrain-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
